.wrapper {
    flex-grow: 1;

    & .addButton {
        position: fixed;
        color: #fff;
        bottom: 4rem;
        right: 4rem;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #3c6df3;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        box-shadow: 0 0 10px #000;
        cursor: pointer;
    }
}